.actions-view {

  > .accordion {

    > .accordion-toggle:before {
      padding: 1rem 1.5rem 1rem 0;
    }

    > .accordion-content {
      padding: 0;
    }
  }
}

.actions-view-title {
  display: inline-block;
  margin: 0;
}

.actions-view-new {
  float: right;
}