
.analysis-collection-list {
  margin: 0;

  > li {
    cursor: pointer;
    margin: 0;
    padding: 1em;
    position: relative;
    margin-top: 0px;
    display: table;
    border-top: 1px solid #ededed;
    width: 100%;

    &:first-child {
      border:none;
    }

    &:hover {
      background-color: #f8f8f8;
    }

    &.selected {
      background-color: #F2FBFF;
    }
  }
}

.analysis-delete-link {
  color: rgb(224, 43, 43);
  float: right;
  text-align: center;
  width: 4.5em;
}

.analysis-view-metadata {
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .analysis-delete-link {
    font-size: 0.88em;
  }
}