.application-basic-inputs,
.application-map {
  margin-top: 1em;
}

.application-basic-inputs {
  width: 304px;
}

.application-actions {
  margin-bottom: 1em;
}

@media screen and (min-width: 560px) {
  .flexible {
    display: flex;
  }

  .application-basic-inputs {
    flex-basis: main-value;
    margin-right: 16px;
  }

  .application-map {
    flex-grow: 3;
  }
}
