.application-basic-inputs,
.application-map {
  margin-top: 1em;
}

.application-basic-inputs {
  width: 100%;
}

.application-actions {
  margin-bottom: 1em;
}

.curve-output-view,
.deagg-output-view {
  position: relative;
}

.curve-output-mask,
.deagg-output-mask {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: block;
  left: 1em; /* because the mask is in a row with negative margin left */
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  > p {
    box-shadow: 0 4px 8px #999;
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    width: 90%;
  }
}

.deagg-output-mask {
  left: 0;
}

.curve-output-calculate,
.deagg-output-calculate {
  margin-top: 1em;
}

.curve-output-ready > .curve-output-mask,
.deagg-output-ready > .deagg-output-mask {
  display: none;
}

.application-header {
  display: inline;
}

.application-map {
  margin-top: 0;
}

.accordion-map > .accordion-content {
  padding: 0;
}
