.application-basic-inputs,
.application-map {
  margin-top: 1em;
}

.application-basic-inputs {
  width: 100%;
}

.application-actions {
  margin-bottom: 1em;
}

.curve-output {
  position: relative;
}

.curve-output-mask {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: block;
  left: 1em; /* because the mask is in a row with negative margin left */
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  > p {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    width: 90%;
  }
}

.curve-output-calculate {
  margin-top: 1em;
}

.curve-output-ready > .curve-output-mask {
  display: none;
}


@media screen and (min-width: 960px) {

  .flexible {
    display: flex;
  }

  .application-basic-inputs {
    flex-basis: main-value;
    margin-right: 16px;
    width: 304px;
  }

  .application-map {
    flex-grow: 3;
  }

  .curve-output-mask {
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      margin-top: 0;
    }
  }
}
