.basic-inputs {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    > label {
      display: block;
      font-weight: bold;
    }

    > select {
      width: 100%;
    }

    > .help {
      color: #757575;
      display: block;
      font-size: 0.88em;
    }

    > .button-group {
      margin: 0.5em 0;
    }

    > #basic-location-info-view {
      margin: 0.2em 0;
    }
  }
}
