.basic-inputs {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin-top: .5em;
    padding: .25em;

    &:first-child {
      margin-top: 0;
    }

    &:hover, &:focus {
      background-color: #fafafa;
    }

    > label {
      color: #444;
      display: block;
      font-weight: bold;
      margin-left: 4px;
    }

    > select {
      width: 98%;
    }

    > .help {
      color: #666;
      display: block;
      font-size: .8em;
      margin-left: 4px;
    }

    > .button-group {
      margin-left: 2px;
      margin-top: .5em;
    }

    > #basic-location-info-view {
      margin: 4px 2px;
    }
  }
}
