.basic-inputs {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    > label {
      color: #444;
      display: block;
      font-weight: bold;
      margin-left: 4px;
    }

    > select {
      width: 100%;
    }

    > .help {
      color: #666;
      display: block;
      font-size: 0.8em;
      margin-left: 4px;
    }

    > .button-group {
      margin: 0.5em 0;
    }

    > #basic-location-info-view {
      margin: 4px 2px;
    }
  }
}
