.deaggregation-report-summary > :first-child {
  margin: 1em 0 0;
}

.summary-group {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1em; /* offset by padding on .summary-values */
}

.summary-values {
  flex: 0 1 100%;
  flex-direction: row;
  padding: 1em 1em 0 0;
}

.summary-values > h4,
.contributors-section > h4 {
  border-bottom: 1px solid #ddd;
  margin: 1em 0 0;
  padding: 1em 0;
}

.summary-list {

  > dt,
  > dd {
    display: inline;
  }

  > dd {
    margin-left: 0.5em;
  }

  > dt:after {
    content: ':';
  }

  > dt:before {
    content: '';
    display: block;
  }
}

@media screen and (min-width: 500px) {
  .summary-values {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .summary-values {
    flex-basis: 33%;
  }
}

@media screen and (min-width: 1500px) {
  .summary-values {
    flex-basis: 25%;
  }
}

.contributing-sources {
  border-collapse: separate;
  border-spacing: 0.5em;
}

.contributing-sources th:first-child,
.contributing-sources td:first-child {
  text-align: left;
}

.contributing-sources th,
.contributing-sources td {
  border: none;
}

.contributing-sources th {
  background-color: inherit;
  border-bottom: 3px solid #ddd;
  padding: 1em;
  text-align: center;
}

.contributing-sources td {
  padding: 0 1em;
  text-align: right;
}

.contributing-sources .down-arrow {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0.5em;
  vertical-align: middle;
}

.contributing-sources .indent-name {
  padding-left: 3em;
}

.contributor-set > td {
  padding-top: 2em;
}

.contributor-set:first-child > td,
.contributor-set + .contributor-set > td {
  padding-top: 1em;
}
