.deaggregation-report-summary > :first-child {
  margin: 1em 0 0;
}

.summary-group {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1em; /* offset by padding on .summary-values */
}

.summary-values {
  flex: 0 1 100%;
  flex-direction: row;
  padding: 1em 1em 0 0;
}

.summary-values > h4 {
  border-bottom: 1px solid #ddd;
  margin: 1em 0 0;
  padding: 1em 0;
}

.summary-list {

  > dt,
  > dd {
    display: inline;
  }

  > dd {
    margin-left: 0.5em;
  }

  > dt:after {
    content: ':';
  }

  > dt:before {
    content: '';
    display: block;
  }
}

@media screen and (min-width: 500px) {
  .summary-values {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .summary-values {
    flex-basis: 33%;
  }
}

@media screen and (min-width: 1500px) {
  .summary-values {
    flex-basis: 25%;
  }
}