$lineStroke: 2;
$pointStroke: 3;
$selectedStrokeOffset: 3;

$selectedGraphColor: #444;

$graphColor0: #999;
$graphColor1: #1f78b4;
$graphColor2: #33a02c;
$graphColor3: #e31a1c;
$graphColor4: #b2df8a;
$graphColor5: #fb9a99;
$graphColor6: #fdbf6f;
$graphColor7: #ff7f00;
$graphColor8: #cab2d6;
$graphColor9: #6a3d9a;
$graphColor10: #ffff99;
$graphColor11: #b15928;
