$graph_color_0: #a6cee3;
$graph_color_1: #1f78b4;
$graph_color_2: #33a02c;
$graph_color_3: #e31a1c;
$graph_color_4: #b2df8a;
$graph_color_5: #fb9a99;
$graph_color_6: #fdbf6f;
$graph_color_7: #ff7f00;
$graph_color_8: #cab2d6;
$graph_color_9: #6a3d9a;
$graph_color_10: #ffff99;
$graph_color_11: #b15928;
