$lineStroke: 2;
$pointStroke: 3;
$selectedStrokeOffset: 3;

$selectedGraphColor: #444;

/*
 * Using a diverging (red-yellow-blue) color scheme from:
 * http://colorbrewer2.org/#type=diverging&scheme=RdYlBu&n=11
 */

$graphColor0: #a50026;
$graphColor1: #d73027;
$graphColor2: #f46d43;
$graphColor3: #fdae61;
$graphColor4: #fee090;
$graphColor5: #ffffbf;
$graphColor6: #e0f3f8;
$graphColor7: #abd9e9;
$graphColor8: #74add1;
$graphColor9: #4575b4;
$graphColor10: #313695;
$graphColor11: #081d58;
