@import 'd3/_D3View.scss';
@import 'd3/_D3LineView.scss';
@import '_GraphVariables.scss';


.TimeHorizonLineView,
.HazardCurveLineView,
.HazardCurveGraphView-legend > .D3LineView {
  > .line,
  &.mouseover > .line {
    cursor: pointer;
    stroke-width: $lineStroke;
  }

  > .point {
    cursor:pointer;
    stroke-width: $pointStroke;
  }

  &[data-index='0'] {
    > .line, > .point { stroke: $graphColor0; }
    > .point { fill: $graphColor0); }
  }

  &[data-index='1'] {
    > .line, > .point { stroke: $graphColor1; }
    > .point { fill: $graphColor1; }
  }

  &[data-index='2'] {
    > .line, > .point { stroke: $graphColor2; }
    > .point { fill: $graphColor2; }
  }

  &[data-index='3'] {
    > .line, > .point { stroke: $graphColor3; }
    > .point { fill: $graphColor3; }
  }

  &[data-index='4'] {
    > .line, > .point { stroke: $graphColor4; }
    > .point { fill: $graphColor4; }
  }

  &[data-index='5'] {
    > .line, > .point { stroke: $graphColor5; }
    > .point { fill: $graphColor5; }
  }

  &[data-index='6'] {
    > .line, > .point { stroke: $graphColor6; }
    > .point { fill: $graphColor6; }
  }

  &[data-index='7'] {
    > .line, > .point { stroke: $graphColor7; }
    > .point { fill: $graphColor7; }
  }

  &[data-index='8'] {
    > .line, > .point { stroke: $graphColor8; }
    > .point { fill: $graphColor8; }
  }

  &[data-index='9'] {
    > .line, > .point { stroke: $graphColor9; }
    > .point { fill: $graphColor9; }
  }

  &[data-index='10'] {
    > .line, > .point { stroke: $graphColor10; }
    > .point { fill: $graphColor10; }
  }

  &[data-index='11'] {
    > .line, > .point { stroke: $graph_color_11; }
    > .point { fill: $graphColor11; }
  }

  &.selected {
    > .line {
      stroke-width: calc($lineStroke + $selectedStrokeOffset);
      stroke: $selectedGraphColor;
    }
    > .point {
      stroke-width: calc($pointStroke + $selectedStrokeOffset);
      stroke: $selectedGraphColor;
      fill: $selectedGraphColor;
    }
  }
}

.TimeHorizonLineView,
.TimeHorizonLineView.selected,
.HazardCurveGraphView-legend > .D3LineView.selected {
  > .line {
    stroke-width: $lineStroke;
  }

}
