@import '_GraphVariables.scss';


.TimeHorizonLineView,
.HazardCurveLineView,
.HazardCurveGraphView-legend > .D3LineView {
  > .line {
    stroke-width: $lineStroke;
  }

  > .point {
    stroke-width: $pointStroke;
  }

  &.mouseover > .line,
  &.mouseover > .point {
    cursor: pointer;
  }

  &[data-index='0'] {
    > .line, > .point { stroke: $curveColor0; }
    > .point { fill: $curveColor0); }
  }

  &[data-index='1'] {
    > .line, > .point { stroke: $curveColor1; }
    > .point { fill: $curveColor1; }
  }

  &[data-index='2'] {
    > .line, > .point { stroke: $curveColor2; }
    > .point { fill: $curveColor2; }
  }

  &[data-index='3'] {
    > .line, > .point { stroke: $curveColor3; }
    > .point { fill: $curveColor3; }
  }

  &[data-index='4'] {
    > .line, > .point { stroke: $curveColor4; }
    > .point { fill: $curveColor4; }
  }

  &[data-index='5'] {
    > .line, > .point { stroke: $curveColor5; }
    > .point { fill: $curveColor5; }
  }

  &[data-index='6'] {
    > .line, > .point { stroke: $curveColor6; }
    > .point { fill: $curveColor6; }
  }

  &[data-index='7'] {
    > .line, > .point { stroke: $curveColor7; }
    > .point { fill: $curveColor7; }
  }

  &[data-index='8'] {
    > .line, > .point { stroke: $curveColor8; }
    > .point { fill: $curveColor8; }
  }

  &[data-index='9'] {
    > .line, > .point { stroke: $curveColor9; }
    > .point { fill: $curveColor9; }
  }

  &[data-index='10'] {
    > .line, > .point { stroke: $curveColor10; }
    > .point { fill: $curveColor10; }
  }

  &[data-index='11'] {
    > .line, > .point { stroke: $graph_color_11; }
    > .point { fill: $curveColor11; }
  }

  &.selected {
    > .line {
      stroke-width: calc($lineStroke + $selectedStrokeOffset);
      stroke: $selectedGraphColor;
    }
    > .point {
      stroke-width: calc($pointStroke + $selectedStrokeOffset);
      stroke: $selectedGraphColor;
      fill: $selectedGraphColor;
    }
  }
}

.TimeHorizonLineView,
.TimeHorizonLineView.selected,
.HazardCurveGraphView-legend > .D3LineView.selected {
  > .line {
    stroke-width: $lineStroke;
  }
}

.TimeHorizonLineView.mouseover > .line {
  cursor: auto;
}

.HazardCurveGraphView-legend {
  > .D3LineView > .text {
    cursor: pointer;
  }
  > :first-child > .text {
    font-weight: normal;
    cursor: auto;
  }
}
