@import '_GraphVariables.scss';

.D3View {

  [data-index='0'] {
    > .line { stroke: $graph_color_0; }
    > .point { fill: $graph_color_0; }
  }

  [data-index='1'] {
    > .line { stroke: $graph_color_1; }
    > .point { fill: $graph_color_1; }
  }

  [data-index='2'] {
    > .line { stroke: $graph_color_2; }
    > .point { fill: $graph_color_2; }
  }

  [data-index='3'] {
    > .line { stroke: $graph_color_3; }
    > .point { fill: $graph_color_3; }
  }

  [data-index='4'] {
    > .line { stroke: $graph_color_4; }
    > .point { fill: $graph_color_4; }
  }

  [data-index='5'] {
    > .line { stroke: $graph_color_5; }
    > .point { fill: $graph_color_5; }
  }

  [data-index='6'] {
    > .line { stroke: $graph_color_6; }
    > .point { fill: $graph_color_6; }
  }

  [data-index='7'] {
    > .line { stroke: $graph_color_7; }
    > .point { fill: $graph_color_7; }
  }

  [data-index='8'] {
    > .line { stroke: $graph_color_8; }
    > .point { fill: $graph_color_8; }
  }

  [data-index='9'] {
    > .line { stroke: $graph_color_9; }
    > .point { fill: $graph_color_9; }
  }

  [data-index='10'] {
    > .line { stroke: $graph_color_10; }
    > .point { fill: $graph_color_10; }
  }

  [data-index='11'] {
    > .line { stroke: $graph_color_11; }
    > .point { fill: $graph_color_11; }
  }

  .mouseover {
    cursor:pointer;

    > .line {
      stroke-width: 3;
    }

    > .point {
      stroke-width: 2;
    }
  }

  .selected {
    cursor: default;

    > .line {
      stroke-width: 5;
    }

    > .point {
      stroke-width: 3;
    }

    > .text {
      stroke-width: 1;
    }
  }

  .point.mouseover {
    fill: #fff;
  }
}
