.hazard-layer-control {
  background-color: #fff;
  background-image: url('../lib/leaflet/images/layers.png');
  background-position: 2px 2px;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
}

.contour-layer-control {
  display: none;
}

.show-contour-layer-control > .contour-layer-control {
  display: block;
  font-size: 16px;
  height: 400px;
  margin: 0;
  overflow: auto;
  padding: 1em;

  > label {
    color: #777;
    margin: 1em 0 0;
    font-size: 0.88em;
  }

  > h3 {
    border-top: 1px solid #eee;
    padding: 16px 0 0;

    &:first-child {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  .collection-selectbox {
    min-width: 222px;
  }
}

.leaflet-top.leaflet-right {
  z-index: 1001;

  > .hazard-layer-control {
    z-index: 8;
  }
}

input[type=checkbox]:checked+label:after {
  top: 0.3em;
  left: 0.9em;
}


@media screen and (min-width: 768px) {

  .show-contour-layer-control > .contour-layer-control {
    .collection-selectbox {
      min-width: 285px;
    }
  }
}
