.hazard-layer-control {
  position: relative;
  z-index: 8;
}

.hazard-layer-control-toggle {
  background-image: url('../lib/leaflet/images/layers.png');
  background-position: 0 -2px;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 26px;
  width: 26px;
}

.hazard-layer-control-content {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px #333;
  display: none;
  font-size: 1.7rem;
  min-width: 20em;
  padding: 1em;
  position: absolute;
  right: -1px;
  top: 0;
  z-index: 1;

  > label + label {
    margin-top: 1em;
  }
}

.show > .hazard-layer-control-content {
  display: block;
}
