.loader-mask {
  align-items: center;
  background: rgba(200,200,200,0.5);
  bottom: 0;
  display:flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

}

.loader-container {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  margin-top: -3em;
  padding: 2em;
}

.loader {
  animation: load8 1.2s infinite linear;
  border: 8px solid rgba(0,0,0, 0.2);
  border-left: 8px solid #555;
  font-size: 8px;
  transform: translateZ(0);
}

.loader,
.loader:after {
  border-radius: 50%;
  height: 8em;
  width: 8em;
}

.loader-text {
  color: #555;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
