@import '../lib/leaflet/leaflet.css';
@import '_MousePosition';

// The first tablist-panel should be the map container
.main-content.tablist {
  > .tablist-panel:first-of-type {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 40px;
  }
}

.map-view {
  display: block;
  height: 100%;
  position: relative;
  top: -1px;
  width: 100%;
  z-index: 10;
}

.tab-position-indicator {
  z-index: 11;
}

// applies to all leaflet-controls
.leaflet-control {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px #333;
  color: #000;
}

.leaflet-left > .leaflet-control {
  margin-left: 16px;
}

.leaflet-right > .leaflet-control {
  margin-right: 16px;
}

.leaflet-top > .leaflet-control {
  margin-top: 16px;
}

// have attribution span entire bottom of map, raise the control-scale position
.leaflet-bottom {
  width: 100%;

  > .leaflet-control-scale.leaflet-control,
  > .leaflet-control-mouseposition.leaflet-control {
    margin-bottom: 32px;
  }
}

.leaflet-control-attribution {
  border-radius: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
