.map-view {
  display: block;
  height: 450px;
  width: 100%;
}

.location-control {
  padding: 0;
}

/* applies to all leaflet-controls */
.leaflet-control {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px #333;
  color: #000;
}

/* these styles make the controls consistent between Leaflet and LocationView */
.leaflet-control > .leaflet-control-icon:hover {
  background-color: #f4f4f4;
}

.leaflet-control > .leaflet-control-zoom-in,
.leaflet-control > .leaflet-control-zoom-out,
.leaflet-control > .leaflet-control-zoom-in:hover,
.leaflet-control > .leaflet-control-zoom-out:hover {
  height: 30px;
  line-height: 30px;
  width: 30px;
}

/* have attribution span entire bottom of map, raise the other controls */
.leaflet-bottom {
  width: 100%;

  > :last-child {
    margin-bottom: 26px;
  }
}

.leaflet-control-attribution {
  border-radius: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


.hazard-fault-layer-popup {
  max-height: 300px;
  overflow-y: auto;
  width: 300px;

  > li + li {
    border-top: 1px solid #ccc;
    margin-top: 1em;
    padding-top: 1em;
  }

  .fault-name {
    font-size: 1.2em;
    font-weight: bold;
  }

  > li > dl {
    margin-top: 0;
  }
}
