@import '_GraphVariables.scss';

.ResponseSpectrumLineView {
  > .line,
  &.mouseover > .line {
    stroke-width: calc($lineStroke + $selectedStrokeOffset);
    stroke: $selectedGraphColor;
  }

  > .point {
    cursor:pointer;
    stroke-width: calc($pointStroke + $selectedStrokeOffset);

    &[data-index='0'] {
      stroke: $graphColor0;
      fill: $graphColor0);
    }

    &[data-index='1'] {
      stroke: $graphColor1;
      fill: $graphColor1;
    }

    &[data-index='2'] {
      stroke: $graphColor2;
      fill: $graphColor2;
    }

    &[data-index='3'] {
      stroke: $graphColor3;
      fill: $graphColor3;
    }

    &[data-index='4'] {
      stroke: $graphColor4;
      fill: $graphColor4;
    }

    &[data-index='5'] {
      stroke: $graphColor5;
      fill: $graphColor5;
    }

    &[data-index='6'] {
      stroke: $graphColor6;
      fill: $graphColor6;
    }

    &[data-index='7'] {
      stroke: $graphColor7;
      fill: $graphColor7;
    }

    &[data-index='8'] {
      stroke: $graphColor8;
      fill: $graphColor8;
    }

    &[data-index='9'] {
      stroke: $graphColor9;
      fill: $graphColor9;
    }

    &[data-index='10'] {
      stroke: $graphColor10;
      fill: $graphColor10;
    }

    &[data-index='11'] {
      stroke: $graphColor11;
      fill: $graphColor11;
    }

    &.selected {
      stroke-width: calc($pointStroke + (2 * $selectedStrokeOffset));
      fill: $selectedGraphColor;
      stroke: $selectedGraphColor;
    }
  }
}
