@import '_GraphVariables.scss';

.ResponseSpectrumLineView {
  > .line,
  &.mouseover > .line {
    stroke-width: $lineStroke;
    stroke: $selectedGraphColor;
  }

  > .point {
    cursor:pointer;
    stroke-width: $pointStroke;

    &[data-index='0'] {
      stroke: $curveColor0;
      fill: $curveColor0);
    }

    &[data-index='1'] {
      stroke: $curveColor1;
      fill: $curveColor1;
    }

    &[data-index='2'] {
      stroke: $curveColor2;
      fill: $curveColor2;
    }

    &[data-index='3'] {
      stroke: $curveColor3;
      fill: $curveColor3;
    }

    &[data-index='4'] {
      stroke: $curveColor4;
      fill: $curveColor4;
    }

    &[data-index='5'] {
      stroke: $curveColor5;
      fill: $curveColor5;
    }

    &[data-index='6'] {
      stroke: $curveColor6;
      fill: $curveColor6;
    }

    &[data-index='7'] {
      stroke: $curveColor7;
      fill: $curveColor7;
    }

    &[data-index='8'] {
      stroke: $curveColor8;
      fill: $curveColor8;
    }

    &[data-index='9'] {
      stroke: $curveColor9;
      fill: $curveColor9;
    }

    &[data-index='10'] {
      stroke: $curveColor10;
      fill: $curveColor10;
    }

    &[data-index='11'] {
      stroke: $curveColor11;
      fill: $curveColor11;
    }

    &.selected {
      stroke-width: calc($pointStroke + $selectedStrokeOffset);
      fill: $selectedGraphColor;
      stroke: $selectedGraphColor;
    }
  }
}
