@import 'mvc/ModalView.scss';

@import 'locationview/CoordinateControl';
@import 'locationview/GeocodeControl';
@import 'locationview/GeolocationControl';
@import 'locationview/LeafletControls';
@import 'locationview/LocationControl';
@import 'locationview/LocationView';
@import 'locationview/PointControl';

.staticcurve-modal {
  .location-button {
    display: block;
  }
}

.modal-dialog {
  padding: 45px 0 58px;

  > .modal-header,
  > .modal-footer {
    height: inherit;
  }

  > .modal-footer {
    padding: 5px 10px;
  }
}

.locationview-button {
  padding: 0 1em;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    padding-bottom: 48px;
  }
}
