@import 'css/_variables.scss';
@import 'css/_button.scss';
@import 'css/_list.scss';
@import 'css/_page.scss';
@import 'css/_text.scss';
@import 'css/_typography.scss';
@import 'css/_form.scss';
@import 'tablist/hazdev-tablist.scss';

@import '_ApplicationView';
@import '_AnalysisCollectionView';
@import '_AnalysisView';
@import '_MapView';
@import '_StaticCurveInputView';
@import '_HazardCurveGraphView';


html,
body {  
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
