.input-view {
  > ul {
    list-style: none;
  }
}

.input-help {
  color: #666;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.column .usa-input-error:before {
  display: none;
}