.input-view {
  > ul {
    list-style: none;
    margin-left: .5em;
    
    > li {
      margin-top: 0;
    }
  }
}

.input-help {
  color: #666;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
