
/** Hacks to adjust for Leaflet styles */
.leaflet-control-layers {
  padding: 0;
}

.usa-input-error-message {
  font-size: 0.8em;
  padding: 0;
}

.min-max {
  display: inline-block;
}

.usa-input-error {
  margin-top: 0em;
}
