.time-horizon-input > label > .usa-input-error-message {
  display: none;
}

.time-horizon-input.usa-input-error > label > .usa-input-error-message {
  display: block;
}

.input-time-horizon-buttons {
  margin-top: 1em;
}

.input-time-horizon-button {
  width: 50%;

  > small {
    color: #999;
    display: block;
    margin: 0.5em 0 0;
  }
}
